.about-us {
  width: 98vw;
  background-color: #f9fbfc !important;
}
.content-lead {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 500px;
}
.content {
  margin: 30px auto 0 auto !important;
  width: 70%;
}
.title {
  color: rgb(63, 63, 87);
  padding-top: 50px;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: -8;
}
hr {
  margin-top: -6px !important;
  width: 30%;
  margin: 0 auto;
  background-color: #fd720a !important;
  color: #fd720a !important;
  border: solid 1px #fd720a !important;
  height: 1px !important;
}
.sure-icon {
  width: 15%;
  margin-top: 15px;
  margin-bottom: 30px;
}
.content-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: rgb(63, 63, 87);
  margin-bottom: 10px;
  height: 200px;
}

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12) !important;
}

@media screen and (max-width:997px){
  
}