.dropdown-menu {
  opacity: 100;
  width: 20%;
  height: 180%;
  position: absolute;
  top: 100px;
  right: 300px;
  list-style: none;
  text-align: start;
  padding: 5px;
  margin-top: -49px;

  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 1px 0px 0px #ccc;
  transition: all 5s ease-in-out;
}
li {
  color: #063992;
}
.dropdown-menu li {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 16px;
}

a {
  color: red;
}
.dropdown-menu li:hover {
  /* background: rgb(20, 68, 153); */
  color: rgb(240, 240, 240);
  border-radius: 4px 0 4px 0;
  transition: all 0.2s ease-out;
}
.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  position: absolute;
  top: 20px;
  width: 100%;

  /* text-decoration: none; */
  color: #063992;
}
.dropdown-link:hover {
  color: #3777e7;
}
i {
  color: #fc700a;
  margin-right: 3px;
}
