.navbar1 {
  -moz-box-shadow: 2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px 2px #ccc;
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  font-size: 14px;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto 0px auto;
}
.contain {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto 0 auto;
}
.navbar-logo {
  margin: 10px;
  justify-self: start;
  align-self: center;
  cursor: pointer;
  width: 100%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 0;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-left: 13rem;
}

.nav-1 {
  display: flex;
  align-items: center;
}

.nav-2 {
  color: #063992;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  padding: 1rem 0.3rem;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.nav-2:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px 0 5px 0;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
}

.nav-2-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 64px;
  }
}
@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
}
