.container {
  width: 90%;
  margin: 100px auto;
}
.image-14 {
  margin: 50px 0px 0px 0px;
  padding: 0;
  width: 100%;
  border-radius: 15px 0 15px 0;
  /* -ms-transform: rotate(-20deg); /* IE 9 */
  /* transform: rotate(-10deg);  */
  transition: all 0.2s ease-in-out;
  -moz-box-shadow: 2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow: 3px 2px 2px 2px #ccc;
}

.header-text-session {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
}
.text-title {
  color: #0066f6;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 55px;
  text-align: start;
}
.header-text-session > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: start;
  font-family: "Roboto", sans-serif;

  color: rgb(63, 63, 87);
}
.btn-start {
  border-width: 2px;
  border-style: solid;
  border-color: #0066f6;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: rgb(63, 63, 87);
  width: 250px;
  margin-top: 20px;
  align-self: flex-start;
  transition: all 0.3s ease-in-out;
}
.btn-start:hover {
  transition: all 0.3s ease-in-out;
  border-width: 2px;
  /* border-style: solid; */
  background-color: #0066f6;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #fff;
  width: 250px;
  margin-top: 20px;
  align-self: flex-start;
}
.mobile-apps {
  display: flex;
  justify-content: flex-start;
}
.app_store_badges {
  width: 25%;
  margin-top: 20px;
  margin-left: 1px;
  cursor: pointer;
}
.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .image-ses {
    display: none;
  }
}
