.home {
  visibility: hidden;
  background-image: url(./images/pattern.png);
}
.container {
  width: 90%;
  margin: 100px auto;
}
.image-14 {
  margin: 50px 0px 0px 0px;
  padding: 0;
  width: 100%;
  border-radius: 15px 0 15px 0;
  /* -ms-transform: rotate(-20deg); /* IE 9 */
  /* transform: rotate(-10deg);  */
  transition: all 0.2s ease-in-out;
  -moz-box-shadow: 2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow: 3px 2px 2px 2px #ccc;
}

.header-text-session {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
}
.text-title {
  color: #0066f6;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 55px;
  text-align: start;
}
.header-text-session > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: start;
  font-family: "Roboto", sans-serif;

  color: rgb(63, 63, 87);
}
.btn-st {
  margin-top: 40px;
  display: flex;
}
.btn-start2 {
  border-width: 1px;
  border-style: solid;
  border-color: #0066f6;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: rgb(63, 63, 87);
  width: 150px;
  align-self: flex-start;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}
.btn-start2:hover {
  width: 152px;
  background-color: #ccc;
  border-style: none;
}
.btn-start1 {
  transition: all 1s;
  border-width: 1px;
  border-style: none;
  background-color: #0066f6;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #fff;
  width: 150px;
  align-self: flex-start;
  margin: 20px 5px 10px 0px;
}
.btn-start1:hover {
  width: 152px;
  background-color: #0448a7;
}

.mobile-apps {
  display: flex;
  justify-content: flex-start;
}
.app_store_badges {
  width: 150px;
  margin-top: 20px;
  margin-left: 1px;
  cursor: pointer;
}
.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
@media screen and (max-width: 997px) {
  .text-title {
    font-weight: 500;
    font-size: 2.5em;
    line-height: 40px;
  }
  .header-text-session > p {
    margin-top: -6px;
  }
  .image-14 {
    margin: 100px 0px 0px 0px;
    object-fit: contain;
  }
}
@media screen and (max-width: 886px) {
  .text-title {
    font-weight: 500;
    font-size: 2.5em;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .image-ses {
    display: none;
  }
}
