body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif !important;
}
a {
  text-decoration: none;
  color: black;
}
