body {
  box-sizing: border-box;
  margin: 0;
  font-family: "open sans condensed";
  padding: 20px 60px;
  background-color: rgb(234, 237, 237);
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
